/* COLORS:
Dark background: #171719;
Blue background: #1a6a89;
Light blue: #33a8c1;
Orange: #ff7223;

Dark: var(--dark)
Mid: var(--mid)
Light: var(--light)
Red: var(--accent)
*/

:root {
    --dark: rgb(25, 23, 23);
    --mid: rgb(110, 100, 90);
    --light: rgb(210, 200, 190);
    --accent: rgb(100, 80, 70);
}

* { margin: 0; padding: 0; border: 0; }

a
{
    color: var(--light);
}

a:hover
{
    color: var(--light);
}

p, h2
{
    margin-bottom: 1em;
}


html
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: century-gothic, sans-serif;
    font-size: 1em;
    background-color: var(--mid);
    background: url("images/web-bg-2023.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--light);
    background-color: transparent;
}

#top-bar
{
    top: 0;
    position: fixed;
}

.menu-bar
{
    z-index: 30;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 1.25em;
    width: 100%;
    left: 0;
    font-size: 1.5em;
    line-height: 1.25em;
    background-color: var(--dark);
    -webkit-transition: top 300ms, background-color 300ms;
    transition: top 300ms, background-color 300ms;
}

.current
{
    color: var(--accent);
}

.bar-item
{
    text-decoration: none;
    display: block;
    flex: 1;
    height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--light);
    -webkit-transition: height 100ms, color 100ms, background-color 100ms;
    transition: height 100ms, color 100ms, background-color 100ms;
}

.bar-subitem
{
    width: inherit;
    background-color: var(--dark);
    color: var(--light);
    -webkit-transition: color 100ms, background-color 100ms;
    transition: color 100ms, background-color 100ms;
}

.submenu-dropdown
{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: relative;
    padding: 0;
    z-index: 1;
}

.submenu:hover .submenu-dropdown
{
    display: block;
    background-color: var(--dark);
    color: var(--light);
    -webkit-transition: height 100ms, color 100ms, background-color 100ms;
    transition: height 100ms, color 100ms, background-color 100ms;
}


.bar-item:hover, .bar-subitem:hover, .bar-item:active, .bar-subitem:active
{
    color: var(--light);
    background-color: var(--mid);
    -webkit-transition: color 100ms, background-color 100ms;
    transition: color 100ms, background-color 100ms;
}

#hero-img {
    width: 560px;
    /*opacity: 0.9;*/
}

#container
{
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    text-align: center;
    overflow: visible;
    /*white-space:nowrap;*/
}

.ctas
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cta-button
{
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.9em;
}

#watch-button:hover
{
    color: var(--dark);
    background-color: var(--accent);
    -webkit-transition: color 100ms, background-color 100ms;
    transition: color 100ms, background-color 100ms;
}

#watch-button a
{
    text-decoration: none;
    display: block;
}

.listen-button
{
    background-color: var(--accent);
    color: var(--light);
}

.listen-button:hover
{
    color: var(--light);
    background-color: var(--dark);
    -webkit-transition: color 100ms, background-color 100ms;
    transition: color 100ms, background-color 100ms;
}


.listen-button:hover /*.listen-dropdown*/
{
    display: block;  
}

.listen-dropdown {
    font-size: 1.5em;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    z-index: 1;
}

#release-links
{
    padding: 5px;
    color: var(--light);
    font-weight: 100;
}

#release-title
{
    font-weight: bold;
    color: var(--dark);
    background-color: var(--light);
    padding-left: .2em;
    padding-right: .2em;
}

.service-logo
{
    width: 15em;
}

.play-service
{
    cursor: pointer;
    display: block;
    width: 480px;
    background-color: var(--light);
    color: var(--dark);
    padding: 0;
    margin: 0;
    margin: .15em;
    border-radius: .1em;
}

#close-dropdown
{
    color: var(--dark);
    font-size: 1.5em;
}

.play-service:hover
{
    background-color: var(--mid);
}


h2.ep-title
{
    font-size: 3.6em;
    font-weight: normal;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.footer
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

.spacebarman-description
{
    display: block;
    color: rgba(255,255,255,0.05);
    padding: 1em;
}

/*@media screen and (max-width:830px), screen and (max-height:450px)*/
@media only screen and (max-device-width: 480px)
{

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{


}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 100px) and (max-device-width : 480px) {
    html
    {
        font-size: 0.7em;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 560px) {
    #container, #hero-img, #listen-button {
        width: 100%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-height : 320px) {

}

